.scene {
    width:8em;
    height:3em;
    perspective: 60em;
  }
  .card {
    width:100%;
    height:100%;
    position:relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .face {
    width:100%;
    height:100%;
    margin-top:15%;
    padding-top:8%;
    border-radius: 10px;
    color:#FFF;
    line-height:1em;
    text-align:center;
    position:absolute;
    font-weight:bold;
    backface-visibility:hidden;
  }
  
  .front {
    background-color:#C49B66;
    color:white;
  }

  .front2 {
    background-color:white;
    border:2px solid #C49B66;
    color:#C49B66;;
  }
  
  .back {
    background-color:white;
    color:#C49B66;
    border:2px solid #C49B66;
    transform: rotateY(180deg);
  }
  .back2 {
    background-color:#C49B66;
    color:white;
    transform: rotateY(180deg);
  }

  .scene:hover .card {
    transform: rotateY(180deg);
  }